.dash-wrapper{
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
}

.dash-content{
    display: flex;
    flex-direction: row;
    justify-items:normal;
    align-items: center;
}

.content_wrapper{
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: baseline;
    
}


.dash-nav{
    display:flex;
    flex-direction: row;
    justify-items: center;
    justify-content:space-around;
    

}

.dash-nav > h3{
    color: #00CDCD;
    font-weight: bolder;
}




.dash-nav > nav ul{
    list-style-type: none;
    text-decoration: none;
}
.dash-nav > nav ul li{
    display: inline-block;
    padding: 10px;
}

.dash-nav > nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: black;
}


.nav-form > input[type="text"]{
    padding: 5px;
    width: 370px;
    border: 1px solid rgb(214, 214, 213);
    border-radius: 4px;
    margin-left: 24px;
    height: 40px;

}

.nav-form > input[type="submit"]{
    appearance: none;
  backface-visibility: hidden;
  background-color: #00CDCD;
  border-radius: 6px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Sofia Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  height: 50px;
  letter-spacing: normal;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}
.side-nav{
    padding:12px;
    
}

.side-nav > table {
    row-gap: 4px;
    margin:0px 30px;
    width: 250px;
    border-collapse: collapse;
    border-style: hidden;
    table-layout: fixed;
}

.side-nav > table thead th{
    padding:8px 16px;
    color: #00CDCD;
    text-align: justify;
}

.side-nav > table tbody tr td{
    padding: 15px 16px;
}

.addProject{
    margin:16px 25px;
}

.addProject > input[type="button"] {
    padding: 12px 36px;
    background-color: #00CDCD;
    border-style: none;
    border-radius: 6px;
    color: aliceblue;

}

.card-list{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left:20px;
}