.dash-wrapper{
    padding: 10px;
    margin: 0;
}

.dash-content{
    display: flex;
    flex-direction: row;
    justify-items:normal;
    align-items: center;
}

.content_wrapper{
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: baseline;
    background-color: #EEEE;
    width: 135vh;
    border-radius: 6px;
    height: 100vh;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
    padding: 7px;

    
}

.content_wrapper > h2{
    font-family: 'Sofia Sans', sans-serif;
    color: #00CDCD;
    

}
.content_wrapper > h2 > img{
    margin-right: 10px;
}

.dash-nav{
    display:flex;
    align-items: center;
    justify-items: center;
    flex-wrap: nowrap;

}

.dash-nav > h3{
    color: #00CDCD;
    font-weight: bolder;
    font-family: 'Sofia Sans', sans-serif;
}




.dash-nav > nav ul{
    list-style-type: none;
    text-decoration: none;
}
.dash-nav > nav ul li{
    display: inline-block;
    padding: 10px;
}

.dash-nav > nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-family: 'Sofia Sans', sans-serif;
}


.nav-form > input[type="text"]{
    padding: 3px;
    width: 570px;
    border: 1px solid rgb(214, 214, 213);
    border-radius: 4px;
    margin-left: 24px;
    height: 30px;

}

.nav-form > input[type="submit"]{

  background-color: #00CDCD;
  border-radius: 4px;
  border-style: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Sofia Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  height: 40px;
  letter-spacing: normal;
  outline: none;
  overflow: hidden;
  padding: 10px 30px;
  margin-left:12px;
  text-align: center;
  text-decoration: none;
  
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  white-space: nowrap;
}
.side-nav{
    padding:12px;    
}

.profile{
    display:flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    padding: 16px;
    margin:10px;
}


.profile > img{
    width: 50px;
    border-radius: 50%;
    border:none;

}

ul.user_detail {
    font-size: 13px;
    padding: 10px;
    margin:0px;
    list-style-type: none;

}





.side-nav > table {
    /* row-gap: 4px; */
    margin:0px 30px;
    width: 250px;
    border-collapse: collapse;
    border-style: hidden;
    

}

.side-nav > table thead th{
    padding:8px 16px;
    color: #00CDCD;
    text-align: justify;
}

.side-nav > table tbody tr td{
    padding: 15px 16px;
}

.addProject{
    margin:16px 25px;
}

.addProject > input[type="button"] {
    padding: 12px 36px;
    background-color: #00CDCD;
    border-style: none;
    border-radius: 6px;
    color: aliceblue;

}

.card-list{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left:10px;
}